@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* Set root font-size */
html {
  font-size: 62.5%; /* Default browser font-size is 16px, hence 62.5% is 10px */
}

body {
  font-family: "Josefin Slab", sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2rem;
  box-sizing: border-box;
}
@media screen and (min-width: 1024px) {
  body {
    font-size: 2.4rem;
    line-height: 4rem;
  }
}

a {
  color: inherit;
  text-decoration: none;
}
